In [3]:
import requests
import pandas as pd

url = 'https://stats.nba.com/stats/leaguedashteamstats'

params =(
("Conference", ""),
("DateFrom", ""),
("DateTo", ""),
("Division", ""),
("GameScope", ""),
("GameSegment", ""),
("LastNGames", "0"),
("LeagueID", "00"),
("Location", ""),
("MeasureType", "Base"),
("Month", "0"),
("OpponentTeamID", "0"),
("Outcome", ""),
("PORound", "0"),
("PaceAdjust", "N"),
("PerMode", "PerGame"),
("Period", "0"),
("PlayerExperience", ""),
("PlayerPosition", ""),
("PlusMinus", "N"),
("Rank", "N"), 
("Season", "2020-21"),
("SeasonSegment", ""),
("SeasonType", "Regular Season"),
("ShotClockRange", ""),
("StarterBench", ""),    
("TeamID", "0"),   
("TwoWay", "0"),    
("VsConference", ""),
("VsDivision", "" ))

header = {
"accept": "application/json, text/plain, */*",
"accept-encoding": "gzip, deflate, br",
"accept-language": "en-US,en;q=0.9",
"connection": "keep-alive",
"host" : "stats.nba.com",
"If-Modified-Since": "Sat, 27 Nov 2021 23:37:38 GMT"  ,
"origin": "https://www.nba.com",
"referer": "https://www.nba.com/",
"sec-ch-ua-platform": "macOS" ,
"sec-fetch-dest": "empty",
"sec-fetch-mode": "cors",
"sec-fetch-site": "same-site",
"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.55 Safari/537.36",
"x-nba-stats-origin": "stats",
"x-nba-stats-token": "true"}


response = requests.get(url, headers=header, params=params)
response_json = response.json()
NBA = pd.DataFrame(response_json['resultSets'][0]['rowSet'])
NBA.columns = response_json['resultSets'][0]['headers']
NBA.head()

,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,1610612737,Atlanta Hawks,72,41,31,0.569,48.3,40.8,87.2,0.468,...,9,24,17,17,18,9,13,9,10,Atlanta Hawks
1,1610612738,Boston Celtics,72,36,36,0.500,48.3,41.5,88.9,0.466,...,16,13,6,11,24,13,16,13,10,Boston Celtics
2,1610612751,Brooklyn Nets,72,48,24,0.667,48.3,43.1,87.3,0.494,...,13,27,7,9,13,18,2,7,10,Brooklyn Nets
3,1610612766,Charlotte Hornets,72,33,39,0.458,48.2,39.9,87.8,0.455,...,24,10,16,14,5,21,23,23,10,Charlotte Hornets
4,1610612741,Chicago Bulls,72,31,41,0.431,48.3,42.2,88.6,0.476,...,27,28,27,18,10,30,21,20,10,Chicago Bulls

In [4]:
for col in NBA.columns:
    print(col)

TEAM_ID
TEAM_NAME
GP
W
L
W_PCT
MIN
FGM
FGA
FG_PCT
FG3M
FG3A
FG3_PCT
FTM
FTA
FT_PCT
OREB
DREB
REB
AST
TOV
STL
BLK
BLKA
PF
PFD
PTS
PLUS_MINUS
GP_RANK
W_RANK
L_RANK
W_PCT_RANK
MIN_RANK
FGM_RANK
FGA_RANK
FG_PCT_RANK
FG3M_RANK
FG3A_RANK
FG3_PCT_RANK
FTM_RANK
FTA_RANK
FT_PCT_RANK
OREB_RANK
DREB_RANK
REB_RANK
AST_RANK
TOV_RANK
STL_RANK
BLK_RANK
BLKA_RANK
PF_RANK
PFD_RANK
PTS_RANK
PLUS_MINUS_RANK
CFID
CFPARAMS

In [6]:
NBA = NBA.drop(['CFPARAMS', 'CFID','TEAM_ID'], axis = 1)

In [7]:
NBA.head()

,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,Atlanta Hawks,72,41,31,0.569,48.3,40.8,87.2,0.468,12.4,...,5,19,9,24,17,17,18,9,13,9
1,Boston Celtics,72,36,36,0.500,48.3,41.5,88.9,0.466,13.6,...,15,25,16,13,6,11,24,13,16,13
2,Brooklyn Nets,72,48,24,0.667,48.3,43.1,87.3,0.494,14.2,...,14,7,13,27,7,9,13,18,2,7
3,Charlotte Hornets,72,33,39,0.458,48.2,39.9,87.8,0.455,13.7,...,19,5,24,10,16,14,5,21,23,23
4,Chicago Bulls,72,31,41,0.431,48.3,42.2,88.6,0.476,12.6,...,11,8,27,28,27,18,10,30,21,20